.client-form button {
    position: relative;
    border-radius: 10px;
    background-color: rgb(97, 195, 0);
    margin-left: 40%;
}

.client-form h2 {
    color: rgba(3, 94, 94, 0.938);
    font-family: 'Ravi Prakash';
}

.client-form h1 {
    color: rgba(3, 94, 94, 0.938);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.client-form form input {
    border-radius: 15px;
}

.client-form form input[type='date'] {
    font-size: 18px;
}

.client-form form label,
span {
    font-size: 20px;
}

.client-form form {
    background-color: rgba(206, 201, 201, 0.779) !important;
}