@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Dancing+Script&family=Monsieur+La+Doulaise&family=Niconne&family=Patrick+Hand&family=Pattaya&family=Rubik+Moonrocks&family=Rubik+Wet+Paint&display=swap');
.main-footer {
    color: rgb(12, 12, 12);
    background-color: rgba(10, 43, 43, 0.753) !important;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: -100%;
}

.f1 li a {
    color: black;
    overflow: hidden;
}

.f1 h6 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.f1 .btn1 {
    color: black;
    background-color: rgb(36, 187, 69);
    border-radius: 10px;
    margin-top: 6px;
    width: 100px;
    margin-left: 50%;
}

.f1 li {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 0px;
}

.f1 i {
    color: black;
    width: 20px;
    height: 20px;
}

.f1 input {
    padding: 2px;
    width: 80%;
    margin-bottom: 6px;
}

.f1 textarea {
    width: 80%;
    min-height: 100px;
}

.f1 p {
    text-align: justify;
    font-size: 16px;
    margin-left: 4px;
    color: black;
}

.s-nous {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 16px;
    justify-content: space-between;
    list-style: none;
}